<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header
            .cap
                .container.cap__contacts
                    .cap__lang
                        span.lang__item.js-lang-active РУС
                        span.lang__item ENG
                        span.lang__item FR
                    span.cap__phone
                        a(href='tel:88001234567').phone-nubmer 8 (800) 123-45-67
                    span.cap__email
                        a(href='mailto:sales@log.ru').email-string sales@log.ru
            .header
                .container.header__wrapper
                    img(src="./img/logo.png").header__logo
                    .header__geoloc.geoloc
                        img(src="./img/point.png" height='25px').geoloc__img
                        span.geoloc__text Наши офисы
                    .header__nav.nav
                        li.nav__item услуги
                        li.nav__item о компании
                        li.nav__item вакансии
                        li.nav__item контакты