@import './normalize.css';
@import './variable.scss';
.promo {
    background-image: url('../img/whiteTruck.png');
    background-size: cover;
    padding: 155px 0 220px;
    &__wrapper {
        border: 1px solid $dark-yellow;
        width: 920px;
        margin: 0 auto;
        .promo__title {
            font-size: 64px;
            font-weight: 700;
            color: white;
            text-align: center;
            padding: 45px 70px 0 70px;
        }
        .promo__text {
            font-size: 18px;
            color: white;
            text-align: center;
            margin-top: 45px;
            padding: 0 70px 45px 70px;
        }
    }
}

.present-slider {
    .slide {
        background-image: linear-gradient(to right, #393F47 37%, #2F343A 37%, #2F343A 63%, #393F47 63%);
        &__wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 120px;
            padding-bottom: 130px;
            background-image: url(../img/yellowTruck.png);
            background-size: 450px;
            background-position: right;
            background-repeat: no-repeat;
            .useless-yellow-line {
                width: 90px;
                height: 6px;
                background-color: $dark-yellow;
            }
            .slide__title {
                font-size: 40px;
                font-weight: 700;
                margin-top: 40px;
                color: white;
            }
            .slide__text {
                font-size: 18px;
                font-weight: 400;
                margin-top: 30px;
                color: white;
            }
            .slide__btn {
                background-color: $dark-yellow;
                padding: 20px 50px;
                margin-top: 50px;
                outline: none;
                border: none;
                color: white;
                &:active {
                    outline: none;
                    border: none;
                }
            }
        }
    }
}