<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        footer
            .footer
                .container.footer__wrapper
                    img(src="./img/logo2.png").footer__logo
                    .contacts__wrapper
                        span.contacts__adress 123456, Санкт-Петербург, Невский пр-кт 127
                        a(href='tel:88123445656').contacts__phone +7 (812) 344-56-65
                        a(href='mailto:sales@log.ru').contacts__email sales@log.ru
                        a(href='tel:88123555665').contacts__phone +7 (812) 355-56-65