<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        include block/header/index.pug
        main
            section
                .promo
                    .promo__wrapper
                        h1.promo__title Грузовые перевозки
                        p.promo__text Перевозка крупногабаритных грузов по России и Европе. Полное экспедирование, страхование, упаковка и хранение грузов
            section
                .present-slider__nav
                    .present-slider__arrows
                .present-slider
                    .slide
                        .slide__wrapper
                            .useless-yellow-line
                            h2.slide__title ГРУЗОПЕРЕВОЗКИ ПО ЕВРОПЕ
                            p.slide__text Страны Евросоюза, а также Украина, Белоруссия со всеми документами.
                            button.slide__btn ПОДРОБНЕЕ
                    .slide
                        .slide__wrapper
                            .useless-yellow-line
                            h2.slide__title ГРУЗОПЕРЕВОЗКИ ПО ЕВРОПЕ
                            p.slide__text Страны Евросоюза, а также Украина, Белоруссия со всеми документами.
                            button.slide__btn ПОДРОБНЕЕ
                    .slide
                        .slide__wrapper
                            .useless-yellow-line
                            h2.slide__title ГРУЗОПЕРЕВОЗКИ ПО ЕВРОПЕ
                            p.slide__text Страны Евросоюза, а также Украина, Белоруссия со всеми документами.
                            button.slide__btn ПОДРОБНЕЕ
                    .slide
                        .slide__wrapper
                            .useless-yellow-line
                            h2.slide__title ГРУЗОПЕРЕВОЗКИ ПО ЕВРОПЕ
                            p.slide__text Страны Евросоюза, а также Украина, Белоруссия со всеми документами.
                            button.slide__btn ПОДРОБНЕЕ
            section
                .services
                    .container
                        .useless-yellow-line
                        h2.services__title УСЛУГИ
                        .services__wrapper
                            .services__tab.tab
                                .tab__wrapp
                                span.tab__text Авиаперевозки
                            .services__tab.tab
                                .tab__wrapp
                                span.tab__text Авиаперевозки
                            .services__tab.tab
                                .tab__wrapp
                                span.tab__text Авиаперевозки
                            .services__tab.tab
                                .tab__wrapp
                                span.tab__text Авиаперевозки
                            .services__tab.tab
                                .tab__wrapp
                                span.tab__text Авиаперевозки
                            .services__tab.tab
                                .tab__wrapp
                                span.tab__text Авиаперевозки
                            .services__tab.tab
                                .tab__wrapp
                                span.tab__text Авиаперевозки
                            .services__tab.tab
                                .tab__wrapp
                                span.tab__text Авиаперевозки
            section
                .about-us
                    .about-us__wrapper.container
                        .about-us__bgc-cube
                        .about-us__left-side
                            .useless-yellow-line
                            h2.about-us__title О КОМПАНИИ
                            p.about-us__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum natus voluptas iusto beatae ad nisi corporis cupiditate nostrum quas neque saepe sit expedita, reiciendis voluptatibus a tempora, accusantium nihil!
                        .about-us__right-side
                            .about-us__tabs.tabs
                                .tab__wrapp
                                    span.tab__number 1337
                                    span.tab__point офисов
                                    span.tab__extra В Европе и СНГ
                                .tab__wrapp
                                    span.tab__number 1337
                                    span.tab__point офисов
                                    span.tab__extra В Европе и СНГ
                                .tab__wrapp
                                    .tab__truck
                                .tab__wrapp
                                    span.tab__number 1337
                                    span.tab__point офисов
                                    span.tab__extra В Европе и СНГ
                                .tab__wrapp
                                    .tab__truck
            section
                .map__wrapp#map
        include block/footer/index.pug